[submodule "third-party/gazebo-realsense"]
	path = third-party/gazebo-realsense
	url = https://github.com/justincdavis/gazebo-realsense.git
[submodule "third-party/pygazebo3"]
	path = third-party/pygazebo3
	url = https://github.com/justincdavis/pygazebo3.git
