name: Flake8

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  flake8_check:
    name: "Flake8 Format Checking"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Lint with flake8
      run: |
        # stop the build if there are...
        # Python syntax errors or undefined names
        # Unused imports
        # No new line
        # No whitespace after keyword


        # Ignore...
        # Whitespace in new line
        # Trailing whitespace
        # Too many blank lines
        # Whitespace before :, Line break occurred before a binary operator (Black breaks this)

        flake8 ./pteranodon --count --select=E9,F63,F7,F82,F401,W292,E275,F403 --extend-ignore=W293,W291,E303,E203,W503 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 ./pteranodon --count --exit-zero --max-complexity=10 --max-line-length=140 --statistics