name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  abstract_plugin:
    name: "Test Abstract Plugin"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest

    - name: Test Abstract Plugin
      run: |
        pytest pteranodon/tests/unit/test_abstract_plugin.py